<footer class="page-wrap">
    <div id="social-icons">
        <a class="iconfont-github" href="https://github.com/laispace">Github</a>
        <a class="iconfont-weibo" href="http://www.weibo.com/laiqingsheng">Weibo</a>
	    <a class="icon-gplus" href="https://plus.google.com/u/0/109563859089483802020">Google+</a>
	    <a class="icon-twitter" href="https://twitter.com/shaun_lai">Twitter</a>
	    <a class="icon-rss" href="{{@blog.url}}/rss/">RSS</a>
	</div>

    <div id="copyrights">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
    </div>
</footer>